@* @{
    var gunsonux = Model.GunSonuCategories;

}
    
<div class="list-group">

    @foreach (var gunsonuindex in gunsonux)
    {
        <a href="#" class="list-group-item list-group-item-action">@gunsonuindex.NameGunSonu</a> 
    }
</div> *@